#plotArea svg {
  
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.axis-label {
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: rgb(2, 30, 53);
  stroke-width: 2;
}
.tooltip {
  position: absolute;
  text-align: center;
  width: 70px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}
.circle {
  fill: rgb(59, 76, 137)
}
